
<div class="animated fadeIn cms-main">
  <div class="card cms-content">
    <div class="titleCat">
      <h1 class="cms-heading-inline">Danh sách nemu</h1>
      <button class="cms-addnew" type="button" (click)="OpenAddModal()"><i class="fa fa-plus"></i>&nbsp;Thêm mới</button>
    </div>
    <div class="card-body">
      <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">

        <div class="row cms-filter">
          <div class="col-sm-12 col-md-6" style="padding-left:0px; margin-left: -5px;    display: flex;">
            <ul class="cms-subsubsub">
              <li class="all"><a class="current" aria-current="page">Tất cả <span class="count">({{ paging.item_count }})</span></a> | </li>
              <li class="publish"><a> Menu hiển thị<span class="count">({{ paging.item_count }})</span></a> </li>
            </ul>
          </div>
          <div class="col-sm-12 col-md-6" style="display: flex; justify-content: flex-end;align-items: flex-end;">

            <label style="margin-right:10px;display: flex;align-items: center;">
              <span style="width:200px">Tìm kiếm menu:</span>
              <input type="text" class="form-control form-control-sm" placeholder="Nhập từ khóa cần tìm...." aria-controls="DataTables_Table_0" [(ngModel)]="q.txtSearch" (keyup.enter)="QueryChanged()">
            </label>

            <div class="dataTables_length" id="DataTables_Table_0_length">
              <label>
                Xem&nbsp;
                <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="custom-select custom-select-sm form-control form-control-sm" [(ngModel)]="paging.page_size" (change)="GetListMenu()">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>&nbsp;bản ghi
              </label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <table class="table list-cat table-striped table-bordered datatable dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="border-collapse: collapse !important">
              <thead>
                <tr role="row">
                  <th [ngClass]="GetClassSortTable('Code')" (click)="SortTable('Code')" style="width: 100px;">
                    Mã Menu
                  </th>
                  <th [ngClass]="GetClassSortTable('Name')" (click)="SortTable('Name')" style="width: 201px;">
                    Tên Menu
                  </th>
                  <th [ngClass]="GetClassSortTable('Note')" (click)="SortTable('Note')" style="width: 300px;">Ghi chú</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of listMenu; let i = index" role="row" ng-class-odd='odd' ng-class-even='even'>
                  {{ (paging.page - 1) * paging.page_size + i + 1 }}
                  <td class="sorting_1">{{ item.Code }}</td>
                  <td class="sorting_1 name-child column-name">
                    {{ item.Name }}
                      <ul class="cms-function">
                        <li class="id-item">ID: {{item.MenuId}} | </li>
                        <li (click)="OpenEditModal(item)">Chỉnh sửa | </li>
                        <li (click)="ShowConfirmDelete(item.MenuId)" class="detete-item">Xóa</li>
                      </ul>
                  </td>
                  <td>
                    {{ item.Note != undefined ? item.Note : '—' }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row" style="padding-left:15px;">
          <div class="col-sm-12 col-md-5">
            <div *ngIf="paging.item_count > 0" class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">
              Hiển thị <span>{{ (paging.page - 1) * paging.page_size + 1 }}</span> <i class="fas fa-long-arrow-alt-right"></i>  <span>{{ paging.item_count < paging.page * paging.page_size ? paging.item_count : paging.page * paging.page_size }}</span>&nbsp;<i class="fa fa-ellipsis-v"></i>&nbsp;<span>{{ paging.item_count }}</span> bản ghi
            </div>
          </div>
          <div class="col-xs-12 col-md-7">
            <pagination [totalItems]="paging.item_count" [(ngModel)]="paging.page" [maxSize]="5" [itemsPerPage]="paging.page_size" class="pagination-sm"
                        previousText="&lsaquo;" nextText="&rsaquo;" [boundaryLinks]="true" (pageChanged)="PageChanged($event)" class="pull-right"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div [config]="{backdrop: 'static',  keyboard: false}" bsModal #MenuModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-big" role="document">
    <form class="login-form">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" *ngIf="Item.MenuId==undefined">Thêm mới Menu</h4>
          <h4 class="modal-title" *ngIf="Item.MenuId!=undefined">Sửa thông tin Menu</h4>
          <button type="button" class="close" (click)="MenuModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="card">
            <div class="card-body body-form-add-new">
              <div class="col-sm-12 col-md-12" style="margin:20px 0px;">
                <div class="form-group row">
                  <label class="col-md-2 col-form-label" for="Code">Mã Menu<span *ngIf="Item.Code==undefined || Item.Code==''" style="color: red;">&ngsp;(*)</span></label>
                  <div class="col-md-8">
                    <input type="text" id="Code" name="Code" class="form-control" placeholder="" [(ngModel)]="Item.Code" autocomplete="off">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 col-form-label" for="Name">Tên Menu<span *ngIf="Item.Name==undefined || Item.Name==''" style="color: red;">&ngsp;(*)</span></label>
                  <div class="col-md-8">
                    <input type="text" id="Name" name="Name" class="form-control" placeholder="" [(ngModel)]="Item.Name" autocomplete="off">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 col-form-label" for="MetaTitle">Ghi chú</label>
                  <div class="col-md-10">
                    <textarea id="Note" name="Note" rows="3" class="form-control" placeholder="" [(ngModel)]="Item.Note"></textarea>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-12">
                <div class="cf nestable-lists" style="background: #c0c0c05e;display: inline-block;">
                  <div class="dd" id="nestable" style="padding-left: 10px; height: 600px; overflow-y: scroll;">
                    <ol-category [data]="dataInput1" [key]="key" [hasAction]="false" class="dd-list"></ol-category>
                  </div>
                  <div class="dd" id="nestable2" style="padding-left: 10px;">
                    <ol-category [data]="dataOutput" [key]="key" [hasAction]="false" class="dd-list"></ol-category>
                  </div>
                </div>
                <textarea style="display:  none;" id="nestable-output"></textarea>
                <textarea style="display:  none;" id="nestable2-output"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" appNoDblClickMat (click)="SaveMenuModal()">Lưu</button>
          <button type="button" class="btn btn-secondary" (click)="MenuModal.hide()">Đóng</button>
        </div>
      </div>
    </form>
  </div>
</div>
