.header-custom > .table > thead > tr > th {
  position: sticky !important;
  top: -1px !important;
  z-index: 99 !important;

  background: #007bff !important;
}
/* Tùy chỉnh radio button hiện đại */
.custom-radio-group {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.custom-radio {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.custom-radio input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.custom-radio .checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 2px solid #ccc;
  border-radius: 50%;
  transition: all 0.3s;
}

.custom-radio input:checked ~ .checkmark {
  background-color: #2f00ff;
  border-color: #2f00ff;
}

.custom-radio .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-radio input:checked ~ .checkmark:after {
  display: block;
}

.custom-radio .checkmark:after {
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
