<div class="content-header" style="background-color: #2f00ff; color:white">
  <div class="container-fluid">
      <div class="row">
      <div class="col-sm-6">
          <h1 class="m-0">QUẢN LÝ DỰ ÁN</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/">Trang quản trị</a></li>
          <li class="breadcrumb-item active">Báo cáo đơn hàng</li>
          </ol>
      </div><!-- /.col -->
      </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<section class="content" style="padding:20px">
<div class="container-fluid">
  <div class="card card-default">
    <div class="card-header">
      <h3 class="card-title">Lọc tìm kiếm</h3>
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
      </div>
    </div>
    <div class="card-body" style="display: block;">
      <div class="form-group row">
        <label for="inputCat3"  class="col-sm-2 col-form-label" *ngIf="role == 1">Công ty<span style="color: red;">&ngsp;(*)</span></label>
        <div class="col-sm-4" *ngIf="role == 1">
          <ng-select [items]="listCompany"
                     bindLabel="Name"
                     bindValue="CompanyId"
                     [multiple]="false"
                     placeholder="Chọn công ty"
                     [(ngModel)]="q.CompanyId" [virtualScroll]="true"
                     [ngModelOptions]="{standalone: true}"
                     (change)="QueryChangedCompany()"

                     id="listCompanySearchDropdown">
          </ng-select>
        </div>
        <label for="inputCat4" class="col-sm-2 col-form-label">Trạm trộn<span style="color: red;">&ngsp;(*)</span></label>
        <div class="col-sm-4">
          <ng-select [items]="listBranch"
                     bindLabel="Name"
                     bindValue="BranchId" [virtualScroll]="true"
                     [multiple]="false"
                     placeholder="Chọn trạm trộn"
                     [(ngModel)]="q.BranchId"
                     [ngModelOptions]="{standalone: true}"
                     (change)="QueryChanged()"

                     id="listBranchSearchDropdown">
          </ng-select>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputCat4" class="col-sm-2 col-form-label">Tên dự án</label>
        <div class="col-sm-4 ">
          <input type="text" class="form-control"  style="margin-right: 15px;min-width: 150px;" placeholder="Tên dự án..."  [(ngModel)]="q.txtSearch" (keyup.enter)="QueryChanged()" >
        </div>
        <div class="col-sm-2 ">
          <button class="btn btn-primary btn-sm" style="height: 36px;" type="button" (click)="QueryChanged()"><i class="fa fa-filter"></i>Tìm kiếm</button>
        </div>
      </div>
    </div>
  </div>



  <div id="DataTables_Table_0_wrapper">

    <div class="row">
      <div class="col-sm-12">
        <button *ngIf="actionCreate" class="btn btn-info btn-sm" style="float: left;"  type="button" (click)="OpenAddModal()"><i class="fa fa-plus"></i>&nbsp;Thêm mới</button>
        <button class="btn btn-warning btn-sm" style="float: right;" type="button" (click)="QueryChanged()"><i class="fa fa-refresh"></i>&nbsp;Refresh</button>
      </div>

      <div class="table-responsive" style="height: 700px;">
        <table class="table table-bordered text-nowrap" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
          <thead style="position: sticky; top: 0; z-index: 1; background-color: #007bff; color: white;">
            <tr role="row">
              <th style="width: 50px; text-align:center">STT</th>
              <th (click)="SortTable('Ma')">
                Mã
              </th>
              <th (click)="SortTable('MALIENKET')">
                Mã liên kết
              </th>
              <th (click)="SortTable('TENDUAN')">
                Tên dự án
              </th>
              <th (click)="SortTable('DIADIEMXD')">
                Địa điểm xd
              </th>
              <th (click)="SortTable('TENHANGMUC')">
                Tên hạng mục
              </th>
              <th style="width: 120px">Thao tác</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listDuAn; let i = index" role="row">
              <td style="text-align: center;">{{ (paging.page - 1) * paging.page_size + i + 1 }}</td>
              <td>{{ item.Ma }}</td>
              <td>{{ item.MALIENKET }}</td>
              <td>{{ item.TENDUAN }}</td>
              <td>{{ item.DIADIEMXD }}</td>
              <td>{{ item.TENHANGMUC }}</td>
              <td style="text-align: center;">
                <a *ngIf="actionUpdate" class="btn btn-info btn-sm" href="javascript:void(0)" (click)="OpenEditModal(item)" tooltip="Sửa" style="margin-right: 5px;">
                  <i class="fas fa-pencil-alt">
                  </i>
                  Sửa
                </a>
                <a *ngIf="actionDelete" class="btn btn-danger btn-sm"  href="javascript:void(0)" (click)="ShowConfirmDelete(item.ID, this.q.BranchId)" tooltip="Xóa">
                  <i class="fas fa-trash">
                  </i>
                  Xóa
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row" style="padding-left:15px;">
      <div class="col-sm-12 col-md-3">
        Hiển thị
        <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="input-search" [(ngModel)]="paging.page_size" (change)="QueryChanged()">
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
      <div class="col-sm-12 col-md-4">
        <div *ngIf="paging.item_count > 0" class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">
          Hiển thị {{ (paging.page - 1) * paging.page_size + 1 }} đến {{ paging.item_count < paging.page * paging.page_size ? paging.item_count : paging.page * paging.page_size }} trong số {{ paging.item_count }} bản ghi
        </div>
      </div>
      <div class="col-xs-12 col-md-5">
        <pagination [totalItems]="paging.item_count" [(ngModel)]="paging.page" [maxSize]="5" [itemsPerPage]="paging.page_size" class="pagination pagination-sm m-0 float-right"
                    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [boundaryLinks]="true" (pageChanged)="PageChanged($event)"></pagination>
      </div>
    </div>
  </div>
</div>
</section>

<div [config]="{backdrop: 'static',  keyboard: false}" bsModal #UserModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
  <form class="login-form">
    <div class="modal-content card card-primary">
      <div class="card-header" style="background-color: #2f00ff !important;">
        <h4 class="card-title" *ngIf="Item.ID == undefined">Thêm mới thông tin dự án</h4>
        <h4 class="card-title" *ngIf="Item.ID != undefined">Sửa thông tin dự án</h4>
        <button type="button" class="close" (click)="UserModal.hide()" aria-label="Close" style="color: white;margin-top:-5px">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body p-3">

            <div class="form-group" *ngIf="role == 1">
              <label>Công ty<span *ngIf="Item.CompanyId==undefined" style="color: red;">&ngsp;(*)</span></label>
              <ng-select [items]="listCompany"
                         bindLabel="Name"
                         bindValue="CompanyId"
                         [multiple]="false"
                         [disabled]="disable"
                         placeholder="Chọn công ty"
                         [(ngModel)]="q.CompanyId" [virtualScroll]="true"
                         [ngModelOptions]="{standalone: true}" (change)="CompanyChanged()">
              </ng-select>
            </div>

            <div class="form-group" >
              <label>Trạm trộn<span *ngIf="Item.listBranchId==undefined" style="color: red;">&ngsp;(*)</span></label>
              <ng-select
                [multiple]="false"
                [virtualScroll]="true"
                placeholder="Chọn trạm trộn"
                [(ngModel)]="q.BranchId"
                [disabled]="disable"
                (change)="changeFn(q.BranchId)"
                [ngModelOptions]="{standalone:true}">
                <ng-option *ngFor="let branch of listBranch" [value]="branch.BranchId">{{branch.Name}}</ng-option>
              </ng-select>
            </div>
            <div class="form-group">
              <label for="MALIENKET">Mã liên kết</label>
              <input type="text" id="MALIENKET" name="MALIENKET" class="form-control" placeholder="" [(ngModel)]="Item.MALIENKET">
            </div>
            <div class="form-group">
              <label for="TENDUAN">Tên dự án<span *ngIf="Item.TENDUAN==undefined || Item.TENDUAN==''" style="color: red;">&ngsp;(*)</span></label>
              <input type="text" id="TENDUAN" name="TENDUAN" class="form-control" placeholder="" [(ngModel)]="Item.TENDUAN">
            </div>

            <div class="form-group">
              <label for="DIADIEMXD">Địa điểm xd</label>
              <input type="text" id="DIADIEMXD" name="DIADIEMXD" class="form-control" placeholder="" [(ngModel)]="Item.DIADIEMXD">
            </div>
            <div class="form-group">
              <label for="TENHANGMUC">Tên hạng mục</label>
              <input type="text" id="TENHANGMUC" name="TENHANGMUC" class="form-control" placeholder="" [(ngModel)]="Item.TENHANGMUC">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" appNoDblClickMat (click)="AddUserFunc()">Lưu</button>
        <button type="button" class="btn btn-secondary" (click)="UserModal.hide()">Đóng</button>
      </div>
    </div>
  </form>
</div>
</div>
