<!-- Content Header (Page header) -->
<div class="content-header" style="background-color: #2f00ff; color:white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <h1 class="m-0">VẬT TƯ THEO XE</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/">Trang quản trị</a></li>
          <li class="breadcrumb-item active">Báo cáo đơn hàng</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<ng4-loading-spinner [timeout]="600000" [zIndex]="100000"> </ng4-loading-spinner>

<!-- <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner> -->
<section class="content" style="padding:20px">
  <div class="container-fluid">
    <div class="card card-default">
      <div class="card-header">
        <h3 class="card-title">Lọc tìm kiếm</h3>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body" style="display: block;">
        <div class="form-group row" style="height: 90px;">
          <label for="inputCat1" class="col-sm-2 col-form-label" style="margin-top: 25px;">Từ ngày</label>
          <div class="col-sm-4">
            <div class="form-group row">
              <div class="col-sm-12">
                <input type="time" id="exampleInput" style="width:100%" name="inputtungay" class="input-search"
                  [(ngModel)]="q.timetungay" placeholder="yyyy/MM/dd" />
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <input type="date" id="exampleInput" style="width:100%" name="inputtungay" class="input-search"
                  [(ngModel)]="q.tungay" placeholder="yyyy/MM/dd" />
              </div>
            </div>
          </div>
          <label for="inputCat2" class="col-sm-2 col-form-label" style="margin-top: 25px;">Đến ngày</label>
          <div class="col-sm-4">
            <div class="form-group row">
              <div class="col-sm-12">
                <input type="time" id="exampleInput" style="width:100%" name="inputtimedenngay" class="input-search"
                  [(ngModel)]="q.timedenngay"/>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <input type="date" id="exampleInput" style="width:100%" name="inputdenngay" class="input-search"
                  [(ngModel)]="q.denngay" placeholder="yyyy/MM/dd" />
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputCat3" class="col-sm-2 col-form-label" *ngIf="role == 1">Công ty<span
              style="color: red;">&ngsp;(*)</span></label>
          <div class="col-sm-4" *ngIf="role == 1">
            <ng-select [items]="listCompany" bindLabel="Name" bindValue="CompanyId" [multiple]="false"
              placeholder="Chọn công ty" [(ngModel)]="q.CompanyId" [ngModelOptions]="{standalone: true}"
              (change)="GetBranch()" style="margin-right: 15px;width:100%" id="listCompanySearchDropdown">
            </ng-select>
          </div>
          <label for="inputCat4" class="col-sm-2 col-form-label">Trạm trộn<span
              style="color: red;">&ngsp;(*)</span></label>
          <div class="col-sm-4">
            <ng-select [items]="listBranchSearch" bindLabel="Name" bindValue="BranchId" [multiple]="false"
              placeholder="Chọn trạm trộn" [(ngModel)]="q.Branchlist" (change)="changeFn(q.Branchlist)"
              [ngModelOptions]="{standalone: true}" style="margin-right: 15px;width:100%;"
              id="listBranchSearchDropdown">
            </ng-select>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputCat6" class="col-sm-2 col-form-label">Tên khách hàng</label>
          <div class="col-sm-4">
            <ng-select [items]="listKH" bindLabel="TENKHACHHANG" bindValue="TENKHACHHANG" [multiple]="false"
              placeholder="Tất cả" [(ngModel)]="q.TENKHACHHANG" [disabled]="disable"
              [ngModelOptions]="{standalone: true}" style="margin-right: 15px;width:100%">
            </ng-select>
          </div>
          <label for="inputCat7" class="col-sm-2 col-form-label">Tên mác bê tông</label>
          <div class="col-sm-4">
            <ng-select [items]="listTenMacBeTong" bindLabel="TENMACBETONG" bindValue="TENMACBETONG" [multiple]="false"
              placeholder="Tất cả" [(ngModel)]="q.TENMACBETONG" [disabled]="disable"
              [ngModelOptions]="{standalone: true}" style="margin-right: 15px;width:100%;">
            </ng-select>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputCat10" class="col-sm-2 col-form-label">Chế độ</label>
          <div class="col-sm-4">
            <ng-select [items]="listCheDo" bindLabel="Name" bindValue="value" [multiple]="false" placeholder="Tất cả"
              [(ngModel)]="q.value" [disabled]="disable" [ngModelOptions]="{standalone: true}"
              style="margin-right: 15px;width:100%;">
            </ng-select>
          </div>
          <label for="inputCat10" class="col-sm-2 col-form-label">Nhóm theo</label>
          <div class="col-sm-4">
            <ng-select [items]="listGroup" bindLabel="name" bindValue="value" [multiple]="false" placeholder="Khách hàng"
              [(ngModel)]="q.GroupBy" [disabled]="disable" [ngModelOptions]="{standalone: true}"
              style="margin-right: 15px;width:100%;">
            </ng-select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-12 col-sm-4 col-md-3 mb-2" *ngIf="q.status == 2">
            <input type="checkbox" [(ngModel)]="q.ckbKhachHang"> KHÁCH HÀNG
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 mb-2" *ngIf="q.status == 2">
            <input type="checkbox" [(ngModel)]="q.ckbXeTron"> XE TRỘN
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 mb-2" *ngIf="q.status == 2">
            <input type="checkbox" [(ngModel)]="q.ckbMacBeTong"> MÁC BÊ TÔNG
          </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
          <div class="col-xs-12 col-sm-4 col-md-4 mb-2">
            <button class="btn btn-primary btn-sm" style="height: 36px;" type="button" (click)="QueryChanged()"><i
                class="fa fa-filter"></i>Tìm kiếm</button>
            <button *ngIf="actionExport" class="btn btn-success btn-sm" style="height: 36px; margin-left:10px"
              type="button" (click)="ExportExcel()"><i class="fa fa-file-excel"></i>Xuất Excel</button>
          </div>
        </div>
        <!-- /.row -->
        <!-- /.row -->
      </div>
      <!-- /.card-body -->

    </div>

    <div id="DataTables_Table_0_wrapper">


      <div class="row">
        <div class="table-responsive p-0 header-custom" style="max-height: 600px;" [innerHTML]="querytable">
        </div>
      </div>

    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="card card-primary">
          <div class="card-header" style="background-color: #2f00ff !important;">
            <h3 class="card-title"><i class="fas fa-server" style="margin-right:5px"></i> Thống kê chi tiết</h3>
          </div>
          <div class="card-body p-3" style="display: block;">
            <div class="row">
              <div class="table-responsive p-0" style="height: 700px;">
                <table class="table table-bordered text-nowrap header-fixed" id="DataTables_Table_0" role="grid"
                  aria-describedby="DataTables_Table_0_info">
                    <thead style="position: sticky; top: 0; z-index: 1; background-color: #007bff; color: white;">
                      <tr>
                        <ng-template ngFor let-item [ngForOf]="listColumnName">
                          <th *ngIf="item.IsActive" style="min-width:100px; text-align: center;">
                            {{item.Name}}
                          </th>
                        </ng-template>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-template ngFor let-item [ngForOf]="listChiTietVatTu">
                        <!-- <tr>
                          <td [attr.colspan]="countListColumnName">
                            <i *ngIf="!item.expanded" class="fas fa-plus-square"
                              (click)="item.expanded = !item.expanded" type="button"></i>
                            <i *ngIf="item.expanded" class="fas fa-minus-square"
                              (click)="item.expanded = !item.expanded" type="button"></i>
                            <b> {{item.Key}}</b>
                          </td>
                        </tr> -->
                        <ng-template ngFor let-itemDataKey [ngForOf]="item.Data">
                          <tr>
                            <td [attr.colspan]="countListColumnName">
                              <i *ngIf="!itemDataKey.expanded" class="fas fa-plus-square"
                                (click)="itemDataKey.expanded = !itemDataKey.expanded" type="button" style="padding-left: 30px"></i>
                              <i *ngIf="itemDataKey.expanded" class="fas fa-minus-square"
                                (click)="itemDataKey.expanded = !itemDataKey.expanded" type="button" style="padding-left: 30px"></i>
                              <b> {{item.Key}} - {{itemDataKey.Key}}</b>
                            </td>
                          </tr>
                          <ng-template ngFor let-itemData [ngForOf]="itemDataKey.Data" let-index="index">
                            <tr *ngIf="itemDataKey.expanded">
                              <td style="min-width:100px; text-align: center;">
                                {{index + 1}}
                              </td>
                              <td style="min-width:100px">
                                {{itemData.MAPHIEU}}
                              </td>
                              <td style="min-width:200px">
                                {{itemData.NGAYTRON | date: 'HH:mm:ss dd/MM/yyyy'}}
                              </td>
                              <td style="min-width:200px">
                                {{itemData.TENKHACHHANG}}
                              </td>
                              <td style="min-width:200px">
                                {{itemData.DIACHI}}
                              </td>
                              <td style="min-width:200px">
                                {{itemData.HANGMUC}}
                              </td>
                              <td style="min-width:200px">
                                {{itemData.SOXE}}
                              </td>
                              <td style="min-width:200px">
                                {{itemData.TAIXE}}
                              </td>
                              <td style="min-width:100px">
                                {{itemData.TENMACBETONG}}
                              </td>
                              <td style="min-width:100px">
                                {{RoundData(itemData.M3METRON)}}
                              </td>
                              
                              <ng-template ngFor let-itemCuaVL [ngForOf]="itemData.CoulumnVL">
                                <td style="min-width:100px">
                                  {{RoundData(itemCuaVL)}}
                                </td>
                              </ng-template>
                            </tr>
                          </ng-template>
                          <tr *ngIf="itemDataKey.expanded && item.expanded && item.Data.length > 1">
                            <td colspan="9" style="text-align: center;">
                              <b>Tổng:</b>
                            </td>
                            <td style="min-width:100px">
                              <b>{{RoundData(itemDataKey.TotalM3METRON)}}</b>
                            </td>
                            
                            <ng-template ngFor let-itemCuaVL [ngForOf]="itemDataKey.TotalColumnVL">
                              <td style="min-width:100px">
                                <b>{{RoundData(itemCuaVL)}}</b>
                              </td>
                            </ng-template>
                          </tr>
                        </ng-template>

                        <tr *ngIf="item.expanded">
                          <td colspan="9" style="text-align: center;">
                            <b>Tổng:</b>
                          </td>
                          <td style="min-width:100px">
                            <b>{{RoundData(item.TotalM3METRON)}}</b>
                          </td>
                          
                          <ng-template ngFor let-itemCuaVL [ngForOf]="item.TotalColumnVL">
                            <td style="min-width:100px">
                              <b>{{RoundData(itemCuaVL)}}</b>
                            </td>
                          </ng-template>
                        </tr>
                      </ng-template>
                      <tr *ngIf="paging.item_count == 0">
                        <td colspan="10" style="text-align: center;">
                          <p>Không có dữ liệu</p>
                        </td>
                      </tr>
                    </tbody>
                </table>
              </div>
            </div>
            <div class="row" style="padding-left:15px;">
              <div class="col-sm-12 col-md-4">
                </div>
                <div class="col-xs-12 col-md-5">
                </div>
              </div>
              <div class="row">
                <div class="table-responsive p-0">
                  <table class="table table-bordered text-nowrap header-fixed" id="DataTables_Table_0" role="grid"
                    aria-describedby="DataTables_Table_0_info">
                    <span *ngFor="let row of tableMockDataTong; let i = index">
                      <thead style="background-color: #007bff; color: white;">
                        <th>{{row.header}}</th>
                      </thead>
                      <tr *ngFor="let rowdata of row.rows;">
                        <td>{{rowdata}}</td>
                      </tr>
                    </span>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>